<.header>
  Edit Wasm content <%= @wasm_content.id %>
  <:subtitle>Use this form to manage wasm_content records in your database.</:subtitle>
</.header>

<.wasm_content_form changeset={@changeset} action={~p"/wasm/#{@wasm_content}"} />

<.back navigate={~p"/wasm"}>Back to wasm_cached_content</.back>
