<.header>
  New Html content
  <:subtitle>Use this form to manage html_content records in your database.</:subtitle>
</.header>

<.html_content_form changeset={@changeset} action={~p"/html"} />

<.back navigate={~p"/html"}>Back to html_cached_content</.back>
