<.header>
  Edit Git hub content <%= @github_content.id %>
  <:subtitle>Use this form to manage github_content records in your database.</:subtitle>
</.header>

<.github_content_form changeset={@changeset} action={~p"/github_cached_content/#{@github_content}"} />

<.back navigate={~p"/github_cached_content"}>Back to github_cached_content</.back>
