<.header>
  Add Markdown
</.header>

<.markdown_content_form changeset={@changeset} action={~p"/markdown"} />
<.import_github_repo_form action={~p"/markdown"} />

<.back navigate={~p"/markdown"}>Back to Markdown</.back>
