<.header>
  New Markdown content
  <:subtitle>Use this form to manage markdown_content records in your database.</:subtitle>
</.header>

<.markdown_content_form changeset={@changeset} action={~p"/markdown"} />

<.back navigate={~p"/markdown"}>Back to markdown_cached_content</.back>
